@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e131b;
  --foreground: #74C370;
  --font-normal: #c8d1df;
  --code-color: #e6ac6f;
  --inner-color: #ba7bcc;
  --comment-color: #b38098;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e131b;
  --foreground: #74C370;
  --font-normal: #c8d1df;
  --code-color: #e6ac6f;
  }
}

/* stylish scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}


::-webkit-scrollbar-thumb {
  background: var(--foreground);
}

aside::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
